<!DOCTYPE html>
<html lang="pt-BR">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<div
			class="mt-4 mb-4 p-4 d-flex justify-content-center bg-primary text-white rounded">
			<h1 th:text="${aluno.nome}"></h1>
		</div>

		<h2>Dados Básicos</h2>

		<form>
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label> <input
					th:field="${aluno.nome}" type="text" class="form-control" id="nome"
					disabled="disabled">
			</div>

			<div class="mb-3">
				<label for="nome" class="form-label">Data de Nascimento</label> <input
					th:field="${aluno.dataNascimento}" type="text" class="form-control"
					id="dataNascimento" disabled="disabled">
			</div>

			<div class="mb-3">
				<label for="nome" class="form-label">Curso</label> <input
					th:field="${aluno.curso.nome}" type="text" class="form-control"
					id="curso" disabled="disabled">
			</div>
		</form>
		<h2>Notas</h2>
		<th:block th:each="nota : ${aluno.notas}" class="form-control">
		Nota: [[${nota.valor}]] 
		<br>
		</th:block>

		<h2 class="mt-4">Habilidades</h2>
		<th:block th:each="habilidade : ${aluno.habilidades}" class="form-control">
		Nome: [[${habilidade.nome}]] - Nível: [[${habilidade.nivel}]] 
		<br>
		</th:block>



		<a th:href="@{/}"><button type="button"
				class="mt-4 btn btn-primary">Voltar</button></a>
	</div>

</body>
</html>